<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{ SITENAME }}</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ THEME_STATIC_DIR }}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{{ THEME_STATIC_DIR }}/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ THEME_STATIC_DIR }}/css/grayscale.css" rel="stylesheet">

</head>

<body id="page-top">
<!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <img src="{{ THEME_STATIC_DIR }}/img/fluid-web-dt.png" width="120" title="Fluid | Official" alt="Fluid logo">
      <div class="social d-flex justify-content-center">
        <a href="https://www.facebook.com/fluidottawa/" class="mx-2">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="http://www.instagram.com/ceasarrosa" class="mx-2">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-youtube"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-spotify"></i>
        </a>
      </div>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#fluid">Fluid</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#music">Music</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#videos">Videos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#shows">Shows</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#shop">Shop</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-start">
      <div class="mx-auto text-center" style="display:none">
        <h1 class="mx-auto my-0 text-uppercase"><img src="{{ THEME_STATIC_DIR }}/img/fluid-web-dt.png" title="Fluid | Official" alt="Fluid logo"></h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">Alternative rock band from Ottawa, Canada</h2>
      </div>
    </div>
  </header>

<!-- About Section -->
  <section id="fluid" class="fluid-section bg-black">
    <div class="container">

      <!-- Featured Project Row -->
<!--      <div class="row bg-light align-items-center no-gutters mb-4 mb-lg-5">-->
<!--        <div class="col-xl-8 col-lg-7">-->
<!--          <img class="img-fluid mb-3 mb-lg-0" src="{{ THEME_STATIC_DIR }}/img/ceasar-rosa.jpg" alt="Ceasar Rosa">-->
<!--        </div>-->
<!--        <div class="col-xl-4 col-lg-5">-->
<!--          <div class="featured-text text-center text-lg-left">-->
<!--            <h4>Ceasar Rosa</h4>-->
<!--            <p class="text-black-50 mb-0">As I get older, my mind gets stronger and my body weaker, the need to protect those who matter is greater but time is no longer on my side although of the essence. All in all your body will do as the mind tells it, regardless to what ppl say or claim, choose your path, make your decisions for consequences will follow. For those who don't choose, fate will choose for them. You've got one life to live...so live it.</p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

      <!-- Featured Project Row -->
<!--      <div class="row bg-light align-items-center no-gutters mb-4 mb-lg-5">-->
<!--        <div class="col-xl-4 col-lg-5">-->
<!--          <div class="featured-text text-center text-lg-right">-->
<!--            <h4>Fluency Grey</h4>-->
<!--            <p class="text-black-50 mb-0">As a multi instrumentalist, Fluency has experience playing an assortment of string instruments including guitars, basses, harps, most percussion instruments, piano, synthesizer and other western key based instruments such as organs, xylophones, vibratones etc. He has experience arranging for string quartets, horn sections and writing for large ensembles. Always looking to serve the song, his primary focus in session work is always how to best support existing melodies and to add required energy and emotion.</p>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-xl-8 col-lg-7">-->
<!--          <img class="img-fluid mb-3 mb-lg-0" src="{{ THEME_STATIC_DIR }}/img/fluency-grey.jpg" alt="Fluency Grey">-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="row bg-light align-items-center no-gutters mb-4 mb-lg-5">-->
<!--        <div class="col-xl-8 col-lg-7">-->
<!--          <img class="img-fluid mb-3 mb-lg-0" src="{{ THEME_STATIC_DIR }}/img/jeremie-martin.jpg" alt="Jeremie Martin">-->
<!--        </div>-->
<!--        <div class="col-xl-4 col-lg-5">-->
<!--          <div class="featured-text text-center text-lg-left">-->
<!--            <h4>Jer</h4>-->
<!--            <p class="text-black-50 mb-0">Self designated metal head, Jer blistering leads take you to the top at the right moment. Lover of baguette, speaker of French.</p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="row bg-light align-items-center no-gutters mb-4 mb-lg-5">-->
<!--        <div class="col-xl-4 col-lg-5">-->
<!--          <div class="featured-text text-center text-lg-left">-->
<!--            <h4>Xandr</h4>-->
<!--            <p class="text-black-50 mb-0">Is there a taller bass player? Who cares!</p>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-xl-8 col-lg-7">-->
<!--          <img class="img-fluid mb-3 mb-lg-0" src="{{ THEME_STATIC_DIR }}/img/xandr.jpg" alt="Xandr">-->
<!--        </div>-->
<!--      </div>-->

      <!-- Ceasar -->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
          <img class="img-fluid" src="{{ THEME_STATIC_DIR }}/img/ceasar-rosa.jpg" alt="Ceasar Rosa">
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-white">Ceasar Rosa</h4>
                <p class="mb-0 text-white-50">As I get older, my mind gets stronger and my body weaker, the need to protect those who matter is greater but time is no longer on my side although of the essence. All in all your body will do as the mind tells it, regardless to what ppl say or claim, choose your path, make your decisions for consequences will follow. For those who don't choose, fate will choose for them. You've got one life to live...so live it.</p>
                <hr class="d-none d-lg-block mb-0 ml-0">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Flu -->
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
          <img class="img-fluid" src="{{ THEME_STATIC_DIR }}/img/fluency-grey.jpg" alt="Fluency Grey">
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="text-white">Fluency Grey</h4>
                <p class="mb-0 text-white-50">As a multi instrumentalist, Fluency has experience playing an assortment of string instruments including guitars, basses, harps, most percussion instruments, piano, synthesizer and other western key based instruments such as organs, xylophones, vibratones etc. He has experience arranging for string quartets, horn sections and writing for large ensembles. Always looking to serve the song, his primary focus in session work is always how to best support existing melodies and to add required energy and emotion.</p>
                <hr class="d-none d-lg-block mb-0 mr-0">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Jer -->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
          <img class="img-fluid" src="{{ THEME_STATIC_DIR }}/img/jeremie-martin.jpg" alt="Jer">
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-white">Jer</h4>
                <p class="mb-0 text-white-50">Self designated metal head, Jer blistering leads take you to the top at the right moment. Lover of baguette, speaker of French.</p>
                <hr class="d-none d-lg-block mb-0 ml-0">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Xandr -->
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
          <img class="img-fluid" src="{{ THEME_STATIC_DIR }}/img/xandr.jpg" alt="Xandr">
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="text-white">Xandr</h4>
                <p class="mb-0 text-white-50">Is there a taller bass player? Who cares!</p>
                <hr class="d-none d-lg-block mb-0 mr-0">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- Music Section -->
  <section id="music" class="music-section text-center bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-white mb-4">Music</h2>
          <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/311858333&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
          <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/311858221&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
          <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/311858401&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
        </div>
      </div>
    </div>
  </section>

  <!-- Video Section -->
  <section id="videos" class="video-section text-center primary bg-black">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-white mb-4">Video</h2>
          <iframe src="https://www.youtube.com/embed/pdrhZNQOBrU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </section>

  <!-- Signup Section -->
<!--  <section id="videos" class="signup-section">-->
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <div class="col-md-10 col-lg-8 mx-auto text-center">-->

<!--          <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>-->
<!--          <h2 class="text-white mb-5">Subscribe to receive updates!</h2>-->

<!--          <form class="form-inline d-flex">-->
<!--            <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Enter email address...">-->
<!--            <button type="submit" class="btn btn-primary mx-auto">Subscribe</button>-->
<!--          </form>-->

<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->

  <!-- Contact Section -->
  <section class="contact-section bg-primary">
    <div class="container">

      <div class="row">

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fab fa-facebook text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Facebook</h4>
              <hr class="my-4">
              <div class="small text-black-50"><a href="https://www.facebook.com/fluidottawa/">Like us</a></div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Email</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a href="mailto:band@fluid.rocks">Talk to us</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fab fa-instagram text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Instagram</h4>
              <hr class="my-4">
              <div class="small text-black-50"><a href="http://www.instagram.com/ceasarrosa">Follow Us</a></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-black small text-center text-white-50">
    <div class="container">
      Copyright &copy; Fluid 2020
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{{ THEME_STATIC_DIR }}/vendor/jquery/jquery.min.js"></script>
  <script src="{{ THEME_STATIC_DIR }}/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="{{ THEME_STATIC_DIR }}/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="{{ THEME_STATIC_DIR }}/js/grayscale.js"></script>
</html>